<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Ticket Tracker Application</title>
	<style>
		table td {
			max-width: 200px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Ticket Tracker Application</a>
		<a class="nav-link" th:href="@{/tickets}">Tickets</a>
		<a th:href="@{/tickets/new}">New Ticket</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>


	</nav>


	<div class="container">
		<div class="row">
			<h1>List of Tickets</h1>


		</div>

		<form class="form-inline" method="GET" action="/tta/tickets/search">
			<div class="form-group mr-2">
				<input type="text" class="form-control" name="q" placeholder="Search tickets...">
			</div>
			<button type="submit" class="btn btn-success btn-sm">Search</button>
		</form>

		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>#</th>
					<th>Ticket Title</th>
					<th>Ticket Short Description</th>
					<th>Ticket Created on</th>

					<th>Actions</th>

				</tr>
			</thead>


			<tbody>

				<tr th:each="tickets: ${tickets}">
					<td th:text="${tickets.id}"></td>
					<td th:text="${tickets.ticketTitle}"></td>
					<td th:text="${tickets.ticketShortDescription}"></td>

					<td th:text="${tickets.ticketCreatedOn}" id="created-on"></td>

					<td>
						<a th:href="@{/tickets/edit/{id}(id=${tickets.id})}" class="btn btn-primary">
							Edit
						</a>
						<a th:href="@{/tickets/{id}(id=${tickets.id})}" class="btn btn-danger">
							Delete
						</a>
						<a th:href="@{/tickets/view/{id}(id=${tickets.id})}" class="btn btn-secondary">
							View
						</a>
					</td>
				</tr>
			</tbody>

		</table>

	</div>
</body>

</html>